body{
    height: 130vh;
    background-color: #f4f4f4;
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
}

.post img {
    max-width: 250px;
    width: fit-content;
}
nav {
    position:sticky;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    top: 0;
    background-color: lightgray;
    height: 20px;
}
nav a {
    text-decoration: none;
    color: gray;
    font-weight: 500;
}

nav a:hover {
    color: white;
}
.post {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    background-color: white;
    padding:10px;
    border-radius: 15px;
    max-width: 90%;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
    margin-bottom: 10px;
}
.post:nth-child(1){
    margin-top: 30px;
}
.post article {
    margin-left: 4px;
    height: 120px;
    overflow: auto;
    border: 1px solid lightgray;
    border-radius: 10px;
    margin-right:4px;
    padding:5px;
}

.post div {
    display: flex;
    flex-direction: row;
}
.post button {
    width: fit-content;
    max-height: fit-content;
    margin-right: 2px;
}

button:hover{
    background-color: lightblue;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section > h2 {
    font-size: larger;
}

footer {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    text-align: center;
}
footer p {
    display:flex;
    align-items: center;
    justify-content: center;
}